# Build directory
/build
/dist
/local
/.vscode
.DS_Store
*.html
*.css
*.py
*.egg-info
*.pyc

# magic environments
.magic

# pixi environments
.pixi
/venv

# Miscellaneous files
mojo
numojo.mojopkg
bench.mojo
test_ndarray.ipynb
test.mojo
tempCodeRunnerFile.mojo