# Build directory
/build
/dist
/local
/.vscode
.DS_Store
*.html
*.css
*.py
mojo
numojo.mojopkg
bench.mojo
test_ndarray.ipynb
/venv# pixi environments
.pixi
*.egg-info
*.pyc

# magic environments
.magic
