docs/readthedocs/docs.json -diff -merge -text
docs/readthedocs/docs.json linguist-generated=true
docs/readthedocs/docs/autodocs/*.md -diff -merge -text
docs/readthedocs/docs/autodocs/*.md linguist-generated=true
