name: NuMojo Unit Tests
on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  testing-numojo:
    name: with ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: ["ubuntu-22.04", "macos-14"]
        os: ["ubuntu-22.04"]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH
          export PATH="$HOME/.pixi/bin:$PATH"

      - name: Pixi install
        run: |
          pixi install

      - name: Build package
        run: |
          pixi run mojo package numojo
          cp numojo.mojopkg tests/

      # - name: Run tests
      #   run: |
      #     pixi run mojo test tests -I .
      #     pixi run mojo test tests/core/test_matrix.mojo -I . -D F_CONTIGUOUS
