name: NuMojo Unit Tests
on:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read

jobs:
  testing-numojo:
    name: with ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: ["ubuntu-22.04", "macos-14"]
        os: ["ubuntu-22.04"]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 30

    defaults:
      run:
        shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH
          export PATH="$HOME/.pixi/bin:$PATH"

      - name: Pixi install
        run: |
          pixi install --locked

      - name: Build package
        run: |
          pixi run mojo package numojo
          cp numojo.mojopkg tests/

      - name: Run Core Tests
        run: |
          echo "Testing core modules..."
          pixi run mojo run -I tests/ tests/core/test_array_indexing_and_slicing.mojo
          pixi run mojo run -I tests/ tests/core/test_array_methods.mojo
          pixi run mojo run -I tests/ tests/core/test_bool_masks.mojo
          pixi run mojo run -I tests/ tests/core/test_complexArray.mojo
          pixi run mojo run -I tests/ tests/core/test_complexSIMD.mojo
          pixi run mojo run -I tests/ tests/core/test_matrix.mojo
          pixi run mojo run -I tests/ -D F_CONTIGUOUS tests/core/test_matrix.mojo
          pixi run mojo run -I tests/ tests/core/test_shape_strides_item.mojo

      - name: Run Routine Tests
        run: |
          echo "Testing routines..."
          pixi run mojo run -I tests/ tests/routines/test_creation.mojo
          pixi run mojo run -I tests/ tests/routines/test_functional.mojo
          pixi run mojo run -I tests/ tests/routines/test_indexing.mojo
          pixi run mojo run -I tests/ tests/routines/test_io.mojo
          pixi run mojo run -I tests/ tests/routines/test_linalg.mojo
          pixi run mojo run -I tests/ tests/routines/test_manipulation.mojo
          pixi run mojo run -I tests/ tests/routines/test_math.mojo
          pixi run mojo run -I tests/ tests/routines/test_random.mojo
          pixi run mojo run -I tests/ tests/routines/test_statistics.mojo
          pixi run mojo run -I tests/ tests/routines/test_sorting.mojo
          pixi run mojo run -I tests/ tests/routines/test_searching.mojo

      - name: Run Science Tests
        run: |
          echo "Testing science modules..."
          pixi run mojo run -I tests/ tests/science/test_signal.mojo

      - name: Cleanup
        if: always()
        run: |
          rm -f tests/numojo.mojopkg
